<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
		<authentication mode="Windows" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
			<add binding="netTcpBinding" scheme="tcp"/>
		</protocolMapping>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="KerberosUpnTestService.Service1">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://tpainvwaxpxy02.corp.temp.lcl/Service1.svc"/>
					</baseAddresses>
				</host>
				<endpoint address="netTcpTest"
						name="NetTcpEndpoint"
						binding="netTcpBinding"
						bindingConfiguration="netTcpBindingWindowsAuth"
						contract="KerberosUpnTestService.IService1" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBindingWindowsAuth">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="netTcpBindingWindowsAuth">
					<security mode="Transport">
						<transport clientCredentialType="Windows"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>